<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<!--顶部导航栏-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" th:fragment="topbar">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">繁星人才</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{./logout}"><span data-feather="log-out"></span>登出</a>
        </li>
    </ul>
</nav>

<!--通用侧边栏-->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:fragment="Sidebar">
    <div class="sidebar-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
            <span>账号管理</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="./setting" th:class="(${active}=='setting'?'nav-link active':'nav-link')">
                    <span data-feather="edit-3"></span>
                    账号设置
                </a>
            </li>

        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>主要功能</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item" th:each="menu:${menu}">
                <a  th:class="(${active}==${menu.menuUrl})?'nav-link active':'nav-link'" th:href="${menu.menuUrl}" th:utext="${menu.icon}+${menu.menuName}">
                    个人信息
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>其他功能</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="./pay">
                    <span data-feather="credit-card"></span>
                    赞助支付
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="${'https://github.com/roye-xing/graduationDesign'}">
                    <span data-feather="github"></span>
                    关于项目
                </a>
            </li>
        </ul>

    </div>
</nav>
<!--管理员菜单-->
<nav id="adminMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:fragment="adminSidebar">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a  th:class="${active}=='main'?'nav-link active':'nav-link'" th:href="main">
                    <span data-feather="home"></span>
                    账号管理
                </a>
            </li>
            <li class="nav-item">
                <a  th:class="${active}=='company'?'nav-link active':'nav-link'" th:href="company">
                    <span data-feather="briefcase"></span>
                    公司管理
                </a>
            </li>
        </ul>
    </div>
</nav>

<!--警告框-->
<div th:fragment="alert" th:switch="${state}">
    <div class="alert alert-info fade show col-sm-9" role="alert" th:case="'regSuccess'" th:text="${remsg}">
    </div>
    <div class="alert alert-success fade show col-sm-9" role="alert" th:case="'editOK'">
        <strong>成功！！</strong>执行修改操作成功
    </div>
    <div class="alert alert-danger fade show col-sm-9" role="alert" th:case="'editError'">
        <strong>错误！！</strong>执行修改操作失败
    </div>
    <div class="alert alert-success fade show col-sm-9" role="alert" th:case="'insertOK'">
        <strong>成功！！</strong>执行添加操作成功
    </div>
    <div class="alert alert-danger fade show col-sm-9" role="alert" th:case="'insertError'">
        <strong>错误！！</strong>执行添加操作失败
    </div>

    <div class="alert alert-success fade show col-sm-9" role="alert" th:case="'delOK'">
        <strong>成功！！</strong>执行删除操作成功
    </div>
    <div class="alert alert-danger fade show col-sm-9" role="alert" th:case="'delError'">
        <strong>错误！！</strong>执行删除操作失败
    </div>
    <div class="alert alert-success fade show col-sm-9" role="alert" th:case="'requestOK'">
        <strong>成功！！</strong>已发送申请
    </div>
    <div class="alert alert-danger fade show col-sm-9" role="alert" th:case="'requestError'">
        <strong>错误！！</strong>发送申请时出现错误
    </div>

</div>



</html>