<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roye.project.Dao.LeaderDao">
    <select id="findCompanyInfo" resultType="company">
        SELECT c.id,c.`name`,c.tel,c.address,c.edit_time FROM company c LEFT JOIN users u ON c.id=u.company_id WHERE u.username=#{id}
    </select>
    <resultMap id="findAllTakeOff" type="takeoff">
        <id column="id" property="id"></id>
        <result column="type" property="type"></result>
        <result column="reason" property="reason"></result>
        <result column="reg_time" property="regTime"></result>
        <result column="back_time" property="backTime"></result>
        <result column="leader_check" property="leaderCheck"></result>
        <result column="uuid" property="uuid"></result>
        <association property="name" javaType="staff">
            <result column="name" property="name"></result>
        </association>
    </resultMap>
    <select id="findAllTakeOff" resultMap="findAllTakeOff">
        select t.`id`,s.`name` name,t.type,t.reg_time,t.back_time,t.leader_check,t.reason,t.uuid from staff s,takeoff t where s.id=t.id
    </select>

    <update id="updateTakeOff">
        update takeoff set leader_check=#{check},leader_msg=#{msg} where uuid=#{uuid}
    </update>
    
    <resultMap id="findAllMembers" type="staff">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="salary" property="salary"></result>
        <result column="perks" property="perks"></result>
        <association property="departmentName" javaType="department">
            <result column="department" property="name"></result>
        </association>
        <association property="type" javaType="user">
            <result column="type" property="power"></result>
        </association>
    </resultMap>
    <select id="findAllMembers" resultMap="findAllMembers">
        SELECT s.id,s.`name`,d.`name` department,s.salary,s.perks,u.usertype type FROM staff s left JOIN users u ON u.username=s.id left JOIN department d ON s.department=d.no right JOIN company c ON u.company_id=c.id
        where u.company_id=(select company_id from users where username=#{username})
    </select>
    
    <update id="quitMember">
        update evaluate set old_evaluate=CONCAT(old_evaluate,"\r${msg}") where id=#{id};
        update staff set department=null,perks=null,salary=null where id=#{id};
        update users set company_id=null where username=#{id};
    </update>
</mapper>